[Desktop Entry]
Version=~~VERSION_STRING~~
Name=Corluma
Comment=App for controlling lights
Exec=/usr/bin/corluma
Icon=/usr/share/corluma/CorlumaIcon.png
Terminal=false
Type=Application
Categories=Utility;Application;
